div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: rgb(191, 255, 0);
}
#box8{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: rgb(43, 0, 255);
}